/* Fonts */

$inter-work: "Inter Work", "Inter", sans-serif;
$inter: "Inter", sans-serif;

/* Colors */
$sunset-orange: #fd533d;
$gorse: #ffed4f;
$neon-carrot: #fe9a36;
$martinique: #2b304e;
$casal: #2e696d;
$mountain-meadow: #24c17b;
$royal-blue: #3519c2;
$muted-spirit: #9d8c7c;
$cascade: #93aaad;
$lola: #d9d1d9;
$white-rock: #ede6d8;
$black: #000000;

/* Margin */
$margin-big: 2.15rem;
$margin-small: 1.4rem;

/* Padding */
$padding-small: 0.7rem;

/* Styles */
$border-width: 3px;
$border: $border-width solid $black;

/* Icons */
$arrow-up: url(../svg/arr_n.svg) no-repeat center center;
$arrow-ne: url(../svg/arr_ne.svg) no-repeat center center;
$arrow-right: url(../svg/arr_e.svg) no-repeat center center;
$arrow-down: url(../svg/arr_s.svg) no-repeat center center;
$arrow-left: url(../svg/arr_w.svg) no-repeat center center;


/* Easing */
$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-in-out-expo: transform 0.6s cubic-bezier(1, 0, 0, 1);

:root {
  --sunset-orange: $sunset-orange;
  --gorse: $gorse;
  --neon-carrot: $neon-carrot;
  --martinique: $martinique;
  --casal: $casal;
  --mountain-meadow: #{$mountain-meadow};
  --royal-blue: $royal-blue;
  --muted-spirit: $muted-spirit;
  --cascade: $cascade;
  --lola: $lola;
  --white-rock: $white-rock;
  --black: $black;
}

.home, .projekt {
  --accent-color: #{rgba($cascade, 0.3)};
}

.events {
  --accent-color: #{$lola};
}

.werkstatt {
  --accent-color: #{$sunset-orange};
}

.werktor {
  --accent-color: #{$neon-carrot};
}

.workspace {
  --accent-color: #{$mountain-meadow};
}

.raeume, .service {
  --accent-color: #{$white-rock};
}
